<ul style="text-align:center;">
    <li routerLinkActive="active"><a [routerLink]="['/']">Home</a></li>
    <li routerLinkActive="active"><a [routerLink]="['/reactiveForm']">Reactive</a></li>
    <!-- <li routerLinkActive="active"><a [routerLink]="['/']">Home</a></li> -->
    <!-- <li routerLinkActive="active"><a [routerLink]="['/register']" >Register</a>
    <li routerLinkActive="active"><a [routerLink]="['/upload']" >Upload Picture</a>
    <li routerLinkActive="active"><a [routerLink]="['/dashboard']" >Dashboard </a>
    <li routerLinkActive="active"><a [routerLink]="['/product']" >Insert Product</a>
    <li routerLinkActive="active"><a [routerLink]="['/productList']" >Product List</a>
    <li routerLinkActive="active"><a [routerLink]="['/upload']" >All upload functionality</a>
    <li routerLinkActive="active"><a [routerLink]="['/collapse']" >Collapse Expande</a>
    <li routerLinkActive="active"><a [routerLink]="['/cascade']" >Country</a>
    <li routerLinkActive="active"><a [routerLink]="['/editorTemplate']" >
                    Editor Template</a></ul> -->
