<h1>Reactive Form With Form Array</h1>
<form [formGroup]="userForm" (ngSubmit)="addUser()">
    <input type="text" formControlName="name" >
    <div formArrayName="address">
        <div *ngFor="let ads of userForm.get('address').controls; let i=index;">
            <div [formGroupName]="i">
                <input type="text" formControlName="city">
                
                <button *ngIf="userForm.get('address').controls.length>1" (click)="deleteAddress(i)">Delete Address</button>
            </div>
        </div>
        <button (click)="addAddress($event)">Add Address</button>
    </div>
    

    <br>
    <br>
    <input type="submit" value="Add User"> &nbsp;&nbsp;&nbsp;
    <button (click)="resetForm($event)">Clear</button>
</form>
{{userForm.value | json}}

<br>
<br>
<table>
    <tr>
        <td>Id</td>
        <th>Name</th>
        <th>Address</th>
    </tr>
    <tr *ngFor="let data of userDataList;">
        <td>{{data.id}}</td>
        <td>{{data.name}}</td>
        <td>
            <div *ngFor="let d of data.address">
                <div>{{d.city}}</div>
            </div>
        <td><input type="button" value="Edit" (click)="editUser(data)" > </td>
    </tr>
</table>